{% set headerUrl = page.url %}
{% set headerLogoHeading = 'h1' if headerUrl === '/' else 'h2' %}
{% set headerLogo = menus.header.logo %}
{% set headerNavItemsList = menus.header.navigation %}



<header class="pt-6 bg-brand-beige">
  <div class="sm:container sm:flex justify-between pb-6 border-b border-brand-grey">
    <div class="container sm:mx-0 sm:pl-0 sm:pr-6 sm:w-1/3 flex justify-between items-center">
      <a class="block" href="/">
        <{{ headerLogoHeading }} class="title-h2 mb-0">
          {% if headerLogo %}
            <img class="max-h-10" src="{{ headerLogo }}" alt="Ahilya logo">
          {% endif %}
          <span class="{{ 'sr-only' if headerLogo else '' }}">
            Ahilya
          </span>
        </{{ headerLogoHeading }}>
      </a>
      {% if headerNavItemsList|length %}
        <label class="toggle-trigger sm:toggle-hidden icon icon-hamburger w-8 h-8 bg-w-8 bg-h-8" for="header-nav-toggle">
          <span class="sr-only">
            Main Menu
          </span>
        </label>
      {% endif %}
    </div>
    
    {% if headerNavItemsList|length %}
      <div class="relative top-6 sm:top-0 w-full sm:w-auto sm:max-w-2/3 sm:flex items-center">
        <input class="toggle-controller sm:toggle-hidden" id="header-nav-toggle" type="checkbox" />
        <nav class="toggle-content sm:toggle-content-visible absolute top-px z-50 sm:static w-full bg-brand-beige">
          <ul class="flex flex-col sm:flex-row sm:justify-end sm:items-center sm:flex-wrap">
            {% for item in headerNavItemsList %}
              <li class="sm:ml-4">
                <a class="block py-4 sm:py-0 container sm:mx-0 sm:px-0 no-underline sm:bg-transparent border-b sm:border-none border-brand-grey hover:underline" href="{{ item.target }}">
                  {{ item.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    {% endif %}
  </div>
</header>