---
layout: layouts/base
---



{# From the directory data file, eg. src/blog/blog.11tydata.js #}
{% set listingEntriesList = collections[handle] %}
{% set listingPluralName = pluralName if pluralName else 'entries' %}



<article class="container max-w-prose mx-auto">
  <h2 class="title-h1">
    {{ title }}
  </h2>

  {% if intro %}
    <div class="font-title mb-8">
      {{ intro|safe }}
    </div>
  {% endif %}

  {% if listingEntriesList|length %}
    {% set listerParams = {
      entries: listingEntriesList|reverse,
      view: 'teaser'
    } %}
    {% include 'components/lister.njk' %}
  {% else %}
    <p class="font-title">
      No {{ listingPluralName }} found.
    </p>
  {% endif %}
</article>